@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

header , .about{
    background-color: #0f0f0f;
    width: 100%;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1140px;
    margin: 0 auto;
    padding-block: 20px;
}

header .container label{
    display: none;
}

header .container input{
    display: none;
}

header .container .logo{
    font-size: 1.8em;
    font-weight: 800;
    font-style: italic;
    text-transform: capitalize;
    font-variant: small-caps;
}

header .container .logo a:hover{
    letter-spacing: 2px;
    color: aliceblue;
    transition: 1s;
}

header .container .logo a , 
header .container .navLinks ul li a,
.projects .container .project button a
{
    text-decoration: none;
    color: #00f;
}

header .container .navLinks{
    align-self:center;
    font-size: 1.4;
    font-weight: 500;
    font-style: italic;
}

header .container .navLinks ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 10px;
}

header .container .navLinks ul li a:hover{
    letter-spacing: 1px;
    color: aliceblue;
    transition: 1s;
}

.main{
    padding: 100px 0;
    line-height: 2;
    background-color: aliceblue;
}

.main .container{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.main .container .home_content{
    padding-top: 35px;
}

.main .container .home_content h2 span{
    color: #00f;
    font-size: 1.7em;  
    font-weight: bolder;  
}

.main .container .home_content h3{
    font-size: 1.5em;
}

.main .container .home_content button{
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #00f;
    cursor: pointer;
}

.main .container .home_content button a{
    color: aliceblue;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}

.main .container .home_content button:hover{
    letter-spacing: 2px;
    transform: scale(1.1);
    transition: 1s;
}

.main .container .home_content .socialLinks , footer .container .footerLinks{
    font-size: 1.8em;
    margin-top: 30px;
}

.main .container .home_content .socialLinks a , footer .container .footerLinks a {
    display: inline-block;
    padding: 0 10px;
    color: #0f0f0f;
}

.main .container .home_content .socialLinks a:hover , footer .container .footerLinks a:hover{
    transform: scale(1.3);
    transition: 1s;
}

.main .container .my_img img{
    width: 300px;
    border-radius: 30px;
}


.main .container .my_img img:hover{
    transform: scale(1.2);
    transition: 1s;
}

.about .container{
    width: 1140px;
    margin: 0 auto;
    color: aliceblue;
    padding: 50px 0;
}

.about .container h2 , .services h2 , .projects h2 , .contact h2{
    color: #00f;
    font-size: 2.5em;
    font-weight: bolder;
    font-variant: small-caps;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.about .container h2:hover{
    letter-spacing: 2px;
    transition: 1s;
}

.about .container p{
    text-align: justify;
    line-height: 2.5;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-variant: small-caps;
}

.about .container p:hover{
    color: bisque;
    transition: 1s;
    letter-spacing: 3px;
}

.services{
    background-color: aliceblue;
    padding-top: 50px;
}

.services h2 , .projects h2, .contact h2{
    text-align: center;
    margin-bottom: 10px;
}

.services h2:hover , .projects h2:hover , .contact h2:hover{
    letter-spacing: 3px;
    transition: 1s;
}

.services h2:hover + .line , .projects h2:hover + .line , .contact h2:hover + .line{
    width: 9%;
    transition: 1s;
}

.services .line , .projects .line , .contact .line{ 
    width: 7%;
    height: 3px;
    margin: 0 auto;
    background-color: #0f0f0f;
}

.services .cards{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services .cards .card{
    width: 30%;
    margin: 50px 0;
    border: thin solid #0f0f0f;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 5px 25px #00f;
}

.services .cards .card:hover , .projects .container .project:hover , .contact .container .cardOfMe:hover{
    transform: scale(1.2);
    transition: 1s;
}

.services .cards .card:hover p{
    color:rgb(8, 20, 20);
    transition: 1s;
}

.services .cards .card h3{
    text-align: center;
    padding: 20px;
}

.services .cards .card p{
    line-height: 2;
    padding: 0 20px 20px 20px;
    text-align: justify;
    color: darkgrey;
}

.services .cards .card img{
    width: 100%;
    height: 45%;
}

.projects{
    background-color: #0f0f0f;
    padding-top: 50px;
}

.projects .line{
    background-color: #fff;
    height: 1.5px;
}

.projects .container{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 80px;
}

.projects .container .project{
    width: 30%;
    border: 2px solid aliceblue;
    padding-bottom: 20px;
    box-shadow: 0 5px 25px aliceblue;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 70px;
}

.projects .container .project .projectContent{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.projects .container .project img{
    width: 100%;
    height: 150px;
}

.projects .container .project h3{
    color:aliceblue;
    font-size: 25px;
    font-variant: normal;
    text-align: justify;
    margin-left:15px;
}

.projects .container .project button{
    display: block;
    padding: 10px 10px;
    margin: 0 auto;
    align-self: center;
    border-radius: 20px;
    margin-left: 15px;
    background-color: #00f;
    border: none;
    cursor: pointer;
}

.projects .container .project button a{
    color: aliceblue;
}

.contact{
    background-color: aliceblue;
    padding: 50px 0;
}

.contact .container{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.contact .container .cardOfMe{
    width: 30%;
    font-size: 60px;
    color: #00f;
    border: thin solid #fff;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgb(76, 90, 103);
    padding: 20px;
    text-align: center;
    line-height: 2;
    margin-top: 50px;
}

.contact .container .cardOfMe h3 , .contact .container .cardOfMe h4{
    font-size: 30px;
    align-items: center;
    color: #0f0f0f;
}

.contact .container .cardOfMe h4{
    font-size: 20px;
    color:darkblue;
}

footer{
    background-color: #0f0f0f;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

footer .container{
    color: #fff;
    padding: 20px 10px;
}

footer .container .copyright a{
    color: #00f;
}

footer .container .footerLinks{
    margin-top: 0;
}

footer .container .footerLinks a{
    color: #fff;
}

@media (min-width: 1200px) {
    header .container, .main .container, .about .container, .services .cards, .projects .container, .contact .container {
      width: 1140px;
    }
  }
  
  @media (max-width: 1200px) {
    header .container, .main .container, .about .container, .services .cards, .projects .container, .contact .container {
      width: 90%;
    }
  
    header .container {
      flex-direction: column;
    }
  
    header .container .navLinks ul {
      text-align: center;
      margin-top: 15px;
    }
  
    .main .container {
      flex-direction: column;
      text-align: center;
    }
  
    .main .container .my_img {
      margin-top: 20px;
    }
  
    .services .cards .card {
      width: 45%;
      margin-bottom: 20px;
    }
  
    .projects .container .project {
      width: 45%;
      margin-bottom: 20px;
    }
  
    .contact .container {
      flex-direction: column;
      text-align: center;
    }
  
    .contact .container .cardOfMe {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 768px) {
    header .container {
      flex-direction: column;
    }
    header .container label{
        display: block;
        color: #fff;
        border: thin solid #fff;
        padding: 0px 5px;
        font-size: 30px;
        border-radius: 10px;
    }

    header .container input{
        display: none;
    }

    header .container .navLinks{
        display: none;
    }

    header .container #menu-bar:checked+.navLinks{
        display: block;
    }

    .main .container {
      flex-direction: column;
    }
  
    .main .container .my_img img {
      width: 80%;
    }
  
    .services .cards {
      flex-direction: column;
      align-items: center;
    }
  
    .services .cards .card {
      width: 80%;
    }
  
    .projects .container {
      flex-direction: column;
      align-items: center;
    }
  
    .projects .container .project {
      width: 80%;
    }
    .projects .container .project button{
        padding: 5px 10px;
    }
  
    .contact .container {
      flex-direction: column;
      text-align: center;
    }
  
    .contact .container .cardOfMe {
      width: 80%;
      margin: 10px auto;

    }
  
    header .container .navLinks ul li {
      display: block;
      margin-bottom: 10px;
    }
  }
  